<div class="container">
    <div class="row">
		<div class="col-sm-4 col-md-4" >
			<img src="..\img\LINK LINK.png" style="position:absolute;z-index:1000">
		</div>
		<div class="col-sm-4 col-md-4">
			<form class="form-email" method="POST">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				<h2 class="form-email-heading">Recuperar Senha</h2>
				<div class="form-group">
					<div class="input-group">
						<label for="email" class="sr-only">email</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
						<input type="email" id="email" name="email" class="form-control" placeholder="email" required autofocus>
					</div>
				</div>			
				<input name="acao" class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">							
				<% if @usuario.tem_erro(:email)%>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:email)%></label>
				<% end %>
				<% if flash[:success].present? %>
				<label class="alert alert-success"><%= flash[:success] %></label>
				<% end %>
			</form>
		</div> 
	</div> 
</div>