<%session[:inicio_sessao]=Time.now%>
<!DOCTYPE html>
<html>
  	<head>
		<title>CMS</title>
		<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./assets/libs/w2ui-master/dist/w2ui-1.5.rc1.css" />
		<link rel="stylesheet" type="text/css" href="./assets/libs/smore-inc-clippy.js-8bfd1f9/build/clippy.css" media="all">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>
  	<body onload="w2desktop.initialize();" unload="return false;" style="margin: 0px;padding: 0px">
    	<%= yield %>
  	</body>
	<script src="./assets/libs/jquery.min.js"></script>
	<script type="text/javascript" src="./assets/libs/w2ui-master/dist/w2ui-1.5.rc1.js"></script>
	<script type="text/javascript" src="./assets/libs/ckeditor/ckeditor.js"></script>  	
	<script src="./assets/libs/smore-inc-clippy.js-8bfd1f9/build/clippy.js"></script>
	<%if !(request.url.index("/adm/noticias/").nil?)%>
	<script type="text/javascript">
		clippy.load('Merlin', function(agent){
		  agent.show();
		});
	</script>
	<%end%>
</html>
